{% extends 'base.html' %}

{% block head %}
    {{ block.super }}
    <style>
        .cart-item-image {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    </style>
{% endblock %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}
    <h3>Your Shopping Cart</h3>
    <a href="{% url 'purchase_history' %}">Purchase History</a>
    <div class="container">
        {% for item in cart_items %}
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ item.book.image.url }}" alt="{{ item.book.title }}" class="img-fluid cart-item-image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.book.title }}</h5>
                            <p class="card-text">x Php {{ item.book.price }}</p>
                            <form method="post" action="{% url 'update_cart' item.id %}" id="update-form-{{ item.id }}" class="d-inline">
                                {% csrf_token %}
                                <button type="button" onclick="updateOrRemoveItem({{ item.id }}, {{ item.quantity }})" class="btn btn-secondary btn-sm">-</button>
                                <span>{{ item.quantity }}</span>
                                <button type="submit" name="action" value="increase" class="btn btn-secondary btn-sm">+</button>

                            </form>
                            <form action="{% url 'remove_from_cart' item.id %}" method="post" id="remove-form-{{ item.id }}" class="d-inline" style="display: none;">
                                {% csrf_token %}
                            </form>
                            <button type="button" onclick="confirmRemoval('remove-form-{{ item.id }}')" class="btn btn-danger btn-sm">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Cart is Empty</p>
        {% endfor %}
        <p>Total Price: Php {{ total_price }}</p>
    </div>

    <a href="{% url 'book_list' %}" class="btn btn-primary">Back to Bookstore</a>

    <script>
        function confirmRemoval(removeFormId) {
            const confirmResponse = confirm("Do you want to remove this item from your cart?");
            if (confirmResponse) {
                document.getElementById(removeFormId).submit();
            }
        }

        function updateOrRemoveItem(itemId, quantity) {
            var updateForm = document.getElementById('update-form-' + itemId);
            var decreaseInput = document.createElement('input');
            decreaseInput.type = 'hidden';
            decreaseInput.name = 'action';
            decreaseInput.value = 'decrease';

            if (quantity <= 1) {
                confirmRemoval('remove-form-' + itemId);
            } else {
                updateForm.appendChild(decreaseInput);
                updateForm.submit();
            }
        }
    </script>
{% endblock content %}

